GROQ_API_KEY=
GROQ_MODEL=gpt-oss-120b

GEMINI_API_KEY=
GEMINI_VISION_MODEL=gemini-2.0-flash

PPTX_AGENT_WORKDIR=.pptx_agent_work
PPTX_AGENT_MAX_FIX_LOOPS=2
PPTX_AGENT_DEFAULT_LANGUAGE=fr
PPTX_AGENT_ENABLE_VISUAL_QA=true
